@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
body{
    background-color: #282c34;
}

table {
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20%;
    margin-top: 10%;
}

td, th {
    border: 1px solid black;
    padding: 8px;
}
td{
    border-radius: 2rem 2rem 2rem 2rem;
}

tr {background-color: #f2f2f2;}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #61dafb;
    border-radius: 4rem 4rem 4rem 4rem;
}

a{text-decoration: none;color: #61dafb;
}

a:hover{
    color: white;
}

nav {
    align-items: center;
    text-align: center;
}

button.classique, button.first, button.last{
    text-align: center;
    height: inherit;
    width: 16%;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    background-color: white;
    text-decoration:none;
    color: #61dafb;

}

button.first {
    border-radius: 4rem 0 0 4rem;
}

button.first:hover{
    transition: all 1s ease;
    background-color: #61dafb;
    color: white;
}

button.last {
    border-radius: 0 4rem 4rem 0;
}

button.last:hover{
    transition: all 1s ease;
    color: white;
    background-color: #61dafb;
}

button.classique:hover {
    color: white;
    transition: all 1s ease;
    background-color: #61dafb;}


